@use "/src/scss/util/" as u;

.contact {
	display: flex;
	gap: 2rem;

	@include u.breakpoint-down(small) {
		flex-direction: column;
	}

	& > * {
		flex: 1;
	}

	&__heading {
		margin: 2rem auto;
	}
}
