* {
	margin: 0;
}

body {
	margin: 0;
	min-width: 320px;
	font-family: var(--sans-serif);
}

section.fb-col-wrapper > * {
	margin: 0 1rem;
}

p,
span,
li {
	font-family: var(--serif);
}

.fb-col-wrapper {
	--space-lr: 4rem;
	--space-gap: 1rem;
	--col-count: 2;
	display: grid;
	grid-template-columns:
		1fr
		repeat(
			var(--col-count),
			calc(
				(min(100% - var(--space-lr), 60rem) - (var(--col-count) - 1) * var(--space-gap)) /
					var(--col-count)
			)
		)
		1fr;
	column-gap: var(--space-gap);
}

@media (width >= 43.75em) {
	.fb-col-wrapper {
		--space-lr: 8rem;
		--space-gap: 2rem;
		--col-count: 6;
	}
}
@media (width >= 62.5em) {
	.fb-col-wrapper {
		--col-count: 12;
	}
}

.fb-col-wrapper > * {
	grid-column: 2/-2;
}
