.contact {
	display: flex;
	gap: 2rem;
}

.contact > * {
	flex: 1;
}

.contact__heading {
	margin: 2rem auto;
}

@media (width <= 43.75em) {
	.contact {
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}
}
