.headline {
	display: flex;
	gap: 4rem;
	margin-top: 4rem !important;
	margin-bottom: 4rem !important;
	padding-top: 2rem;
	border-top: solid 4px var(--cl-background-shade-2);
}

.headline > * {
	flex: 1;
}

.headline__heading {
	font-weight: 900;
	font-size: 3.5rem;
	line-height: 4rem;
	text-wrap: balance;

	background: linear-gradient(160deg, var(--cl-foreground), var(--cl-midground) 50%);
	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;

	animation: transform-x 1200ms ease-out, fade 2400ms;
}

.headline__content > p {
	font-size: 1.2rem;
	text-wrap: pretty;
	color: var(--cl-foreground-shade);
}

.headline__content > p:first-child {
	font-weight: 600;
}

.headline__content > p:not(:last-child) {
	margin-bottom: 1rem;
}
