.hero {
	justify-content: center;
	padding: 4rem 0;
	padding-top: 8.5rem;
	text-align: center;
	background-image: linear-gradient(15deg, hsl(202, 73%, 28%) 0%, hsl(173, 46%, 66%) 100%);
}

.hero__img-wrapper {
	display: flex;
	justify-content: center;
}

.hero__img {
	width: 6rem;
	height: 6rem;
	filter: brightness(100);
}

.hero__heading {
	padding: 1rem 0;
	font-weight: 400;
	font-size: 3rem;
	font-family: var(--sans-serif);
	line-height: 3.5rem;
	color: white;
}

@media (width <= 43.75em) {
	.hero__heading {
		font-size: 2.5rem;
		line-height: 3rem;
	}
}

.hero__description {
	padding: 1rem 0;

	font-family: var(--sans-serif);
	font-size: 1.25rem;
	font-weight: 300;
	text-transform: uppercase;
	text-wrap: balance;
	letter-spacing: 0.2rem;
	color: white;
}
